{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

{% if blog_list %} <!-- all blog posts displayed newest first -->
    <ul>
        {% for post in blog_list %}
            <li>
                <!-- display title -->
                <h2>{{ blog.title }}</h2>
                <!-- truncate posts to first 100 words -->
                <P>{{ blog.content|truncatewords:100 }}</P>
                <!-- display # of comments -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No blog posts available.</p>
{% endif %}
