a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: wavy;
    text-decoration-color: black;
}

a.title {
    color: black;
    text-decoration: none;
    font-family: monospace;
}

a.title:hover {
    color: blueviolet;
}

ol {
    background-color: aqua;
}

li:nth-child(even) {
    background-color: pink;
}

li:nth-child(odd) {
    background-color: plum;
}

li.navBlock {
    background-color: aqua;
}

HTMLElements {
    background-color: #000000;
}
