{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'gold/style.css' %}">
        <script src="{% static 'gold/newDiv.js' %}"></script>
        <title>Home</title>
        <!-- TODO: auto query NASDAQ -->
            <!-- async GET request using fetch() -->
                <!-- request returns JSON format-->
                    <!-- must include API key, clause with limits amount of data returned, and anything else you want  -->
                <!-- extract price in USD/t_oz -->
                    <!-- store in global variable -->
    </head>
    <body>
        <div id="upperDiv">
            <h2 style="text-align: center;">Worth Your Weight In Gold</h2>
            <P style="text-align: center;">Input your weight and select the proper units. </P>
            <P style="text-align: center;">Press convert to see that you're worth your weight in gold!</P>
            <span style="display: block; text-align: center;">
                <input id="weight" type="number">
                <select id="unit">
                    <option>U.S. Ton (T)</option>
                    <option>Gram (g)</option>
                    <option>Troy Ounce (t_oz)</option>
                    <option>Kilogram (kg)</option>
                    <option>Imperial Pound (lb)</option>
                    <option>Ounce (oz)</option>
                </select>
                <!-- TODO: make this a real callback function -->
                <button onclick="callback(weight.value, unit.value)">Convert</button>
            </span>
        </div> <!-- upperDiv -->
        <div id="lowerDiv"></div>
        <script src="{% static 'gold/script.js' %}"></script>
    </body>
</html>
